<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DiscordKeyProduction" value="OTIzNTk2MjQyODQyNDE5MjUx.YcSUBw.RzyetMUfH4Lz9czrZZiAm5n2Ztk" />
		<add key="ConnectionString" value="server=192.168.1.200;port=33060;database=master;user=root;password=secret" />
	</appSettings>
</configuration>